.DS_Store
*.csv
*.npy
*.fna.gz
*.tsv
*__pycache__/
outdated/

!data/threshold_dataset_indices.npy
!helpers/4mer_embedding.npy
!results/threshold_similarities/*.npy
!results/heatmap/*.npy
!literature_OpenAlex/*.csv

